loguru
pyyaml
pydantic
soundcard
soundfile 
numpy
onnxruntime    # a choice to silero-vad
fastapi
uvicorn[standard]
--extra-index-url https://www.paddlepaddle.org.cn/packages/stable/cpu/
rapidocr
mss
pygetwindow
pure-python-adb 
pywin32
sherpa-onnx